body {
    --main-bg-color: white;
    --second-bg-color: #bedefd;
    --third-bg-color: #9fc0e2;
    --main-btn-bg-color: #A5CCF4;
    --bg-color-overlay: rgba(0, 0, 0, 0.5);
    --main-color-title-h1: #2843A6;
    --main-color-title-h2: #7EB3FF;
    --main-color-title: #7E40F5;
    --main-color-txt: black;
    --main-border-color: #9B93EB;
    --second-border-color: black;
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    transition: all 0.4s linear;
}

body.dark {
    --main-bg-color: #2843A6;
    --second-bg-color: #495e72;
    --third-bg-color: #3f648a;
    --main-btn-bg-color: #2d4f70;
    --bg-color-overlay: rgba(255, 255, 255, 0.609);
    --main-color-title-h1: white;
    --main-color-title-h2: white;
    --main-color-title: #7E40F5;
    --main-color-txt: white;
    --main-border-color: #9B93EB;
    --second-border-color: white;
    color: var(--main-color-txt);
    background-color: var(--main-bg-color);
}

main {
    background-color: var(--main-bg-color);
    padding-top: 40px;
    transition: all 0.4s linear;
}

h1 {
    color: var(--main-color-title-h1);
}

h2,
h3 {
    color: var(--main-color-title-h2);
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: var(--main-color-txt);
    line-height: 1.4;
}

.btn {
    background-color: var(--third-bg-color);
    color: var(--main-color-txt);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--main-color-txt);
}


/* button for dark mode */

.container-dark {
    /* border: 1px solid black; */
    width: 50px;
    height: 25px;
    border-radius: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    box-shadow: inset 0px 0px 1px var(--second-border-color);
}

.container-dark_btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    border: none;
    background: var(--second-bg-color);
    left: 0;
    transition: 0.3s;
}

.btn-dark-right {
    left: 25px;
    transition: 0.3s;
}


/* modal for menu */

.btn-modal {
    font-size: 1.8rem;
    background-color: var(--main-btn-bg-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    /* box-shadow: 0px 0px 5px 2px var(--main-border-color); */
    box-shadow: inset 0px 0px 5px 0px white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal-active {
    display: flex;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--bg-color-overlay);
}

.modal_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--second-border-color); */
    border-radius: 10px;
    width: 200px;
    height: 451px;
    margin: 0 auto;
    position: absolute;
    background-color: var(--second-bg-color);
}

.modal_menu-ul {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.modal_menu_ul-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.menu_items-li {
    margin-left: 15px;
}

.menu_items-li a {
    cursor: pointer;
}

body.dark .menu_items-li a {
    color: var(--main-color-txt);
}


/* arrow on fisrt section */

.arrow {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
}


/* .arrow span::before {
    content:"";
    display: block;
    position: absolute;
    top: -14px;
    right: -1px;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    opacity: 20%;
    animation-name:arrowmove;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */

.arrow span {
    display: block;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    opacity: 0%;
    /* animation-name:arrowmove2;
    animation-delay: 4.95s;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    transition-duration: 0.1s;
    transition-property: visibility;
    transition-timing-function: ease-out;
}

body.dark .arrow span {
    border-right-color: var(--main-color-txt);
    border-bottom-color: var(--main-color-txt);
}

.arrowScrollNone {
    visibility: hidden;
    transition-duration: 0.1s;
}


/**
Pour donner l'impression d'une direction, il faut agir sur le delay de chaque élément. Puis leur donner une durée égale
*/

.arrow1 {
    animation-name: arrowmove;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: backward; */
}

.arrow2 {
    animation-name: arrowmove;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.arrow3 {
    animation-name: arrowmove;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


/* .arrow span::after {
    content:"";
    display: block;
    position: absolute;
    top: 10px;
    left: 19px;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    opacity: 0%;
    animation-name:arrowmove3;
    animation-delay: 8.95s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */

@keyframes arrowmove {
    from {
        opacity: 20%;
    }
    to {
        opacity: 100%;
    }
    to {
        opacity: 100%;
    }
    to {
        opacity: 100%;
    }
    to {
        opacity: 20%;
    }
    to {
        opacity: 0%;
    }
}


/* second section with expérience */

section.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title_h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
}

.title_h2 {
    text-transform: capitalize;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    letter-spacing: 1px;
    width: 80%;
    text-align: center;
}

section.container-experience {
    background-color: var(--second-bg-color);
    /* height: 100vh; */
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.experience_div {
    border-radius: 20px;
    box-shadow: -3px -3px 7px #ffffff7d, 3px 3px 7px #808080ab;
    padding: 10px;
    margin: 15px auto;
}

.experience_div-img-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.experience_div-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

strong {
    display: block;
    margin-bottom: 10px;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-align: center;
}

p {
    letter-spacing: 0.1rem;
    text-align: center;
}


/* footer */

footer {
    background-color: var(--third-bg-color);
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* =========================================== 
 log page 
============================================ */

.main_section-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title_h1.log {
    border-top: unset;
}

.para-intro {
    width: 90%;
    text-align: center;
    margin: 20px auto;
}

form {
    width: 70%;
    margin: 40px auto;
    box-shadow: -3px -3px 5px #e1e0e070, 3px 3px 5px #00000085;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.form_label-input {
    display: flex;
    flex-direction: column;
}

label {
    letter-spacing: 0.1rem;
    margin: 10px;
}

input {
    border-radius: 10px;
    border-color: var(--main-color-txt);
    height: 30px;
    color: var(--main-color-txt);
    background-color: var(--main-bg-color);
    padding: 5px;
}

.form_btn {
    width: 70px;
    height: 30px;
    margin: 10px auto;
}


/* =========================================== 
 pad and computer 
============================================ */

@media screen and (min-width:700px) {
    .btn-modal {
        display: none;
    }
    .modal-container {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        position: none;
        margin-right: 10px;
        width: 0px;
    }
    .modal_overlay {
        display: none;
    }
    .modal_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid var(--second-border-color); */
        border-radius: 0 10px;
        width: fit-content;
        height: 100vh;
        /* margin: 0 auto; */
        position: unset;
        background-color: var(--second-bg-color);
        padding: 0 10px;
        transition: all 0.4s linear;
    }
    .menu_items-li {
        margin-left: 15px;
        display: none;
        animation-name: mouseMenu;
        animation-duration: 1s;
        animation-timing-function: linear;
    }
    .active_menu_items-li {
        display: block;
        animation-name: mouseMenu;
        animation-duration: 1s;
        animation-timing-function: linear;
    }
    @keyframes mouseMenu {
        from {
            opacity: 0;
            position: relative;
            left: -20px;
        }
        to {
            opacity: 100%;
            position: relative;
            left: 0px;
        }
    }
    h1.title_h1 {
        font-size: 3rem;
    }
    h2.title_h2 {
        font-size: 2.5rem;
    }
    section.container-experience {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
    }
    .experience_div {
        width: 45%;
        height: max-content;
    }
    strong {
        font-size: 1.5rem;
    }
    /* =========================================== 
 log page 
============================================ */
    .main_section-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
    }
    .section-container_section {
        width: 50%;
    }
    .para-intro {
        width: 80%
    }
    form {
        width: 350px;
        height: 300px;
        justify-content: space-evenly;
    }
}