body{
    --main-bg-color : white;
    --second-bg-color :#bedefd;
    --main-btn-bg-color:#A5CCF4;    
    --bg-color-overlay : rgba(0, 0, 0, 0.5);

    --main-color-title-h1 : #2843A6;
    --main-color-title-h2 : #7EB3FF;
    --main-color-title : #7E40F5;
    --main-color-txt : black;

    --main-border-color:#9B93EB;
    --second-border-color:black;

    font-family: 'Lato', sans-serif;

}

h1{
    color:var(--main-color-title-h1);
}

h2, h3{
    color: var(--main-color-title-h2);
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.5rem;
}

p{
    color: var(--main-color-txt);
    line-height: 1.4;
}

.btn-modal{
    font-size: 1.8rem;
    background-color: var(--main-btn-bg-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 5px 2px var(--main-border-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:5;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal-active{
    display: flex;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--bg-color-overlay);
}

.modal_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second-border-color);
    border-radius: 10px;
    width: 200px;
    height: 451px;
    margin: 0 auto;
    position: absolute;
    background-color: var(--main-bg-color);
}

.modal_menu-ul{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.modal_menu_ul-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.menu_items-li{
    margin-left: 15px;
}

.menu_items-li a{
    cursor: pointer;
}

/* arrow on fisrt section */

.arrow {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%) ;
}

/* .arrow span::before {
    content:"";
    display: block;
    position: absolute;
    top: -14px;
    right: -1px;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    opacity: 20%;
    animation-name:arrowmove;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */

.arrow span {
    display: block;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    opacity: 0%;
    /* animation-name:arrowmove2;
    animation-delay: 4.95s;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}

.arrow1{
    animation-name:arrowmove;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    animation-fill-mode: backward;
}

.arrow2{
    animation-name:arrowmove;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
}

.arrow3{
    animation-name:arrowmove;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-iteration-count: infinite;  
}

/* .arrow span::after {
    content:"";
    display: block;
    position: absolute;
    top: 10px;
    left: 19px;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    opacity: 0%;
    animation-name:arrowmove3;
    animation-delay: 8.95s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */

@keyframes arrowmove{
    from{
        opacity: 0%;
    }
    to{
        opacity: 20%;
    }

    to{
        opacity: 80%;
    }
    to{
        opacity:100%;
    }
    /* to{
        opacity: 20%;
    } */

}



/* second section with expérience */

section.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1.title_h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 40px;
}

h2.title_h2 {
    text-transform: capitalize;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    letter-spacing: 1px;
    width: 80%;
    text-align: center;
}

section.container-experience {
    background-color:var(--second-bg-color);
    height: 100vh;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.experience_div-img-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.experience_div-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

strong{
    display: block;
    margin-bottom: 10px;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-align: center;
}

p {
    letter-spacing: 0.1rem;
    text-align: center;
}